absl-py==0.15.0
astor

colorama
cycler
dill
gast==0.3.3
google-pasta
grpcio==1.32
h5py==2.10
importlib-metadata
isort
Keras-Applications
Keras-Preprocessing
kiwisolver
lazy-object-proxy
Markdown
matplotlib
mccabe
numpy==1.19.2
opt-einsum
openpyxl
pandas==1.2
Pillow
protobuf

pyparsing
python-dateutil
pytz
ruamel.yaml
scipy
six==1.15
scikit-learn

termcolor
versioneer
Werkzeug
wrapt==1.12.1
zipp
